<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Money_United</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inflows">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inflows
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Outflows">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Outflows
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Debt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Debt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tags">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tags
            </NavLink>
        </div>
    </nav>
</div>
