<h3>Tags</h3>

<label for="note">Tags:</label>
<input type="text" @bind=tag />

<label>&nbsp;</label>
<input type="submit" @onclick=submit value="Submit" />

@code {
	public string tag;

	public void submit()
	{
		
	}

}
