@page "/Tags"
<h3>Tags</h3>

<label for="note">Tags:</label>
<input type="text" @bind=tags />

@if (submitMessage)
{
	<p>Your Tags has been recorded successfully.</p>
}

<label>&nbsp;</label>
<input type="submit" @onclick=addTags value="Submit" />

@code {
	public string tags;
	private bool submitMessage = false;
	public void addTags()
	{
		DatabaseInsert insertList = new DatabaseInsert();
		insertList.InsertTagsEntry(1, tags);
		insertList.CloseDatabase();
		submitMessage = true;
	}

}
